/* MAIN SERVICIOS CSS */

.introduccion{
    margin-top: 1rem;
}
.introduccion p{
    text-align: center;
    letter-spacing: 1px;
}
.contenedor{
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.contenedor h2{
    margin-top: 2rem;
}
.contenedor-cartas{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem;
}
.carta{
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    border: 1px solid grey;
    border-radius: 5px;
}
.texto{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}
.texto p{
    text-align: justify;
}
.carta img{
    width: 100%;
    height: 50%;
}
.valores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.valor{
    border: none;
    border-radius: 5px;
    padding: 2rem;
    text-align: justify;
}
b{
    letter-spacing: 1px;
}

/* FOOTER SERVICIOS CSS */
.contenedor-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 2.5rem;
    border-top: 1px solid gray;
}
.infor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* MEDIA QUERIES SERVICIOS*/

@media screen and (max-width: 768px){
    .introduccion{
        padding: 1rem;
    }
    .contenedor-cartas, .valores{
        flex-direction: column;
    }
    .carta{
        width: 100%;
    }
    .carta p{
        margin: 0px 10px 10px 10px;
    }
    .texto p{
        text-align: center;
    }
    .valores{
        padding: 0.5rem;
    }

    /* MEDIA QUERIES FOOTER */

    .contenedor-footer{
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }
    .contenedor-informacion{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
    .infor{
        flex-direction: column;
        gap: 0.5rem;
    }
    .derechos-reservados{
        text-align: center;
    }

}